<!DOCTYPE html>
<html lang="cs-CZ" class="text-light bg-dark">
<head>
    <title>{% block title %}Home{% endblock %} - Style28</title>

    {# META Tags #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>

    {# Links #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <link rel="canonical"
          href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <link rel="icon" type="image/x-icon" href="{#{{ asset('favicon.ico') }}#}"/>
    <link rel="icon" sizes="192x192" href="{#{{ asset('bigicon.png') }}#}"/>
    <link rel="manifest" href="{#{{ asset('manifest.json') }}#}"/>

    {# CSS Loading #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('libraries/@fortawesome/fontawesome-free/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('libraries/codemirror/lib/codemirror.css') }}">
        <link rel="stylesheet" href="{{ asset('libraries/codemirror/theme/darcula.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>

<body>

<div class="d-flex flex-column sticky-footer-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        {% include '_layout/partials/admin_navbar.html.twig' %}
    {% endif %}

    {% include '_layout/partials/navbar.html.twig' %}

    {# Flash messages #}
    {# -------------------------------------------------------------------------------------------------------------- #}

    {% if app.request.hasPreviousSession %}
        {% for label, messages in app.flashes %}
            <div class="container" id="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {# Body #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <main class="container flex-fill mb-5">
        {% block body %}{% endblock %}
    </main>


    <footer class="text-light bg-dark p-5">
        <div class="container text-center text-muted">
            Created & maintained by
            <a href="mailto:raito.akehanareru@gmail.com" class="text-muted"><strong>raito</strong></a> // 2020
        </div>
    </footer>

</div>
{# JavaScript #}
{# -------------------------------------------------------------------------------------------------------------- #}
{% block javascripts %}
    <script src="{{ asset('libraries/jquery/dist/jquery.slim.js') }}"></script>
    <script src="{{ asset('libraries/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('libraries/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('libraries/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('libraries/codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>

</html>
