{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.author) }}

    {{ form_row(form.content) }}

    {% if photos|length %}
    <h3>Photos</h3>

    {% endif %}

    {{ form_rest(form) }}

<button class="btn btn-success float-left" type="submit">
    <i class="fa fa-fw fa-save"></i>
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
